// $icons-color: adjust-hue($brand-success, -20deg);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// ----------------

:focus {
  outline: none !important;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #555;
  background-color: #f2f2f2;
  overflow: hidden;
}

canvas {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.search-components {
  position: absolute;
  left: 0px;
  margin: 0.6rem;
  top: 0px;
  z-index: 10;
  transition: left 0.5s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-property: -webkit-transform,transform,visibility,opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);

  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  // padding: 0.8rem 0 0 0;
  padding: 0;
  border-radius: 3px;
  background-color: white;
  opacity: 0.98;
  .container {
    padding: 0.8rem 0 0.7rem 0;
  }
}

.search-components .header .fa-bars {
  font-size: 120%;
  padding-left: 0.8rem;
  color: gray;
  &.closed {
    padding-right: 0.8rem;
  }
}

.fa {
  color: lightgray;
}

input.search-components-input {
  font-size: 1rem;
  width: 11.5rem;
  padding: 0rem 0;
  margin-left: 0.7rem;
  border: none;
  color: silver;
  -webkit-text-fill-color: silver;
}

input.search-components-input:focus {
  outline: none;
  -webkit-text-fill-color: #555;
}

.fa-search {
  padding: 0 1.2rem;
  border-right: 1px solid lightgray;
}

.fa-database {
  padding: 0 1.2rem 0 1.2rem;
  // color: darkblue;
}

.rendermethod {
  display: none;
}

.results {
  padding-bottom: 3.8rem;
  .item {
    border-top: 1px solid lightgray;
    padding: 0.8rem;
  }
}
